<h2>Параметры</h2>
<form class="col-md-9">
    <div class="form-group row">
        <label for="deposit" class="col-md-6 col-form-label">Процентная ставка вклада (F):</label>
        <div class="col-md-6 input-group">
            <input type="number" name="deposit" id="deposit" value="8" class="form-control" />
            <div class="input-group-addon">%</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="credit" class="col-md-6 col-form-label">Процентная ставка кредита (G):</label>
        <div class="col-md-6 input-group">
            <input type="number" name="credit" id="credit" value="11" class="form-control" />
            <div class="input-group-addon">%</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="inflation" class="col-md-6 col-form-label">Процентная ставка роста цен на недвижимость (H):</label>
        <div class="col-md-6 input-group">
            <input type="number" name="inflation" id="inflation" value="6" class="form-control" />
            <div class="input-group-addon">%</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="wage-growth" class="col-md-6 col-form-label">Рост ежемесячных доходов (W):</label>
        <div class="col-md-6 input-group">
            <input type="number" name="wage-growth" id="wage-growth" value="6" class="form-control" />
            <div class="input-group-addon">%</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="sum" class="col-md-6 col-form-label">Стоимость (S):</label>
        <div class="col-md-6 input-group">
            <input type="number" name="sum" id="sum" value="12000" class="form-control" />
            <div class="input-group-addon">,000 руб.</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="start" class="col-md-6 col-form-label">Имеющиеся накопления (A):</label>
        <div class="col-md-6 input-group">
            <input type="number" name="start" id="start" value="3000" class="form-control" />
            <div class="input-group-addon">,000 руб.</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="payment" class="col-md-6 col-form-label">Ежемесячные накопления (B)
            <br/><i>(после выплаты аренды)</i>:</label>
        <div class="col-md-6 input-group">
            <input type="number" name="payment" id="payment" value="60" class="form-control" />
            <div class="input-group-addon">,000 руб.</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="rent" class="col-md-6 col-form-label">Стоимость аренды (R)
            <br/><i>(если аренды нет, то - 0)</i>:</label>
        <div class="col-md-6 input-group">
            <input type="number" name="rent" id="rent" value="40" class="form-control" />
            <div class="input-group-addon">,000 руб./мес.</div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Посчитать" />
    <h2>Результат</h2>
    <div class="row">
        <label class="col-md-6">Необходимо времени кредита для выплаты (m):</label>
        <div class="col-md-6"><span id="resm"></span></div>
    </div>
    <div class="row">
        <label class="col-md-6">Необходимо времени вклада для накопления (n):</label>
        <div class="col-md-6"><span id="resn"></span></div>
    </div>
    <div class="row">
        <label class="col-md-6">Соотношение времени кредита/вклада:</label>
        <div class="col-md-6"><span id="fracmn"></span></div>
    </div>
    <p> График зависимости f(n) = m(n) срока кредитования от времени вклада: m>n => лучше делать вклад.</p>
    <h2>Результирующие графики</h2>
    <div id="chart_mn" class="chart"></div>
    <div id="chart_S" class="chart"></div>
</form>

<!-- build:cut -->
<script src="./calculator-exec.js"></script>
<!-- endbuild -->
