body {
    margin-top: 70px;
}

.container {

}

.chart {
    width: 100%;
    min-height: 450px;
}

// label {
//     font-weight: bold;
//     margin-right: 10px;
// }

// #lay-root {
//     width: 950px;
//     padding: 15px;
//     margin: 10px auto;
//     background-color: #eee;
// }

// .res label {
//     font-weight: normal;
// }

// .res span {
//     font-size: 120%;
//     font-weight: bold;
// }
